body,
h2,
h3,
h4,
h5,
p,
a,
th,
tr,
td,
p,
table,
blockquote,
caption {
    margin-left: 40px;
    margin-right: 20px;
    font-family: Calibri, Verdana, Ariel, sans-serif;
    font-size: 13pt;
    color: #000000;
    overflow-x: hidden;
    text-align: left;
}

BODY {
    MARGIN: 0%;
    PADDING: 0%;
}


/* wrapper used on all pages */

div#main {
    width: 100%px;
    text-align: left;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    /*  border-left: 3px solid #C8D9F9       */
}


/* ------------------------ standard link tags ------------------------ */

a {
    margin-left: 0;
    margin-right: 0;
    font-size: 130%;
}

.res_col ul li a:hover {
    font-weight: 600;
}


/* ------------------------ navigation link tags ------------------------ */

a.nav {
    FONT-SIZE: 100%;
    margin-left: 20px;
    color: #003399;
    text-decoration: underline;
    margin-right: 0;
    font-weight: bold;
}

a.nav:hover {
    margin-left: 20px;
    text-decoration: underline;
    margin-right: 0;
}


/* ------------------------ standard  tags ------------------------ */

H1 {
    font-size: 240%;
    color: #003399;
    color: #0066CC;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
    background-color: #C8D9F9;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 1px;
}

H2 {
    font-size: 145%;
    font-weight: normal;
    color: #003399;
    color: #0066CC;
    margin: 0px 0px 10px 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}

H3 {
    font-size: 130%;
    color: #003399;
    color: #0066CC;
    font-weight: bold;
    margin: 0px 0px 10px 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
    font-weight: normal;
}

H4 {
    font-size: 100%;
    color: #444444;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}


/*H5{
    font-size: 100%;
	color: #444444;
	font-weight: bold;
	margin: 0px 0px 0px 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
}
h5:before {
  content: '¦ ';
    position: relative;
    bottom: 1px;

}*/


/* ------------------------ paragraph tags ------------------------ */

P {
    margin-bottom: 10px;
    margin-top: 5px;
    /*font-size: 100%;    */
}

.smallTxt {
    font-size: 80%;
}

.t_comments {
    padding: 5px;
    background: #FFFF99;
    margin-left: 40px;
    margin-right: 40px;
    display: none;
}


/* overall teacher comments classes - used for html input text activities  */


/* overall teacher comments classes - used for html input text activities  */

table.comments {
    background: #FFCCCC;
    margin-top: 10px;
    margin-bottom: 10px;
    table-layout: fixed;
    width: 90%;
    display: none;
}

.comments td {
    vertical-align: top;
    padding: 5px;
    font-size: 140%;
    font-weight: bold;
    width: 70px;
}

.comments td+td {
    padding: 5px;
    font-size: 90%;
    font-weight: normal;
    width: 100%;
}

table.corrected {
    background: #FFCCCC;
    margin-top: -10px;
    margin-bottom: 10px;
    table-layout: fixed;
    width: 90%;
    display: none;
}

.corrected td {
    vertical-align: top;
    padding: 5px;
    font-size: 140%;
    font-weight: bold;
    width: 60px;
}

.corrected td+td {
    padding: 5px;
    font-size: 150%;
    font-weight: normal;
    width: 100%;
}


/* ------------------------   upload file button   */

a.uploadlink {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0066CC;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    margin: 10px 0px 10px 40px;
    font-size: 100%;
    text-align: center;
}


/* ------------------------   vew uploaded file, button   */

a.viewuploadlink {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0066CC;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    margin: 10px 0px 10px 40px;
    font-size: 100%;
    text-align: center;
    display: none;
}


/* ------------------------   view corrected version of uploaded file, button   */

a.viewcorrecteduploadlink {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #339933;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    width: 150px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
    display: none;
}

div.uploadmessage {
    /*background-color: #FFCC33; */
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #CC0000;
    font-weight: normal;
}


/* overall WORKET grade and comments  */

table.wscomments {
    background: #FFCCCC;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.wscomments td {
    vertical-align: top;
    padding: 5px;
    font-size: 90%;
    font-weight: normal;
    /*width: 10%;  */
}

.wscomments th {
    padding: 5px;
    font-size: 90%;
    font-weight: bold;
    background-color: #FFFFFF;
    width: 80px;
    text-align: right;
}


/*    for sound recorder activity results in content pages  */

.soundrecorder_t_overall_comment {
    /* padding: 2px;
   display:none;
   background-color: #6666CC;  */
}

td.soundrecorder_overallscore {
    /*background-color: #66CC33;*/
    padding: 5px;
    width: 40px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}


/*.question  {
   padding: 5px;
  line-height:  30px;
   vertical-align: middle;
   margin-left: 40px;
   margin-right: 40px;
  color: #FF3399;
  background-color: #33FFCC;
}*/

.inst {
    font-size: 100%;
    font-weight: normal;
    color: #003399;
    margin-top: 15px;
    margin-bottom: 15px;
    /*margin-left: 50px;  */
}

.hlight {
    padding: 10px;
    background: #EEEEEE;
    margin: 20px 40px 20px 40px;
    color: #000000;
    font-size: 100%;
}

hr {
    height: 4px;
    border: none;
    color: #C8D9F9;
    background-color: #C8D9F9;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table hr {
    margin-left: 0px;
}


/* ------------------------ ITEMS INSIDE TABLES ------------------------ */

td {
    vertical-align: top;
}

TD P {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 0px;
}

TD h3 {
    /* margin-bottom: 10px;
    margin-top: 5px;

    background-color: #CC99CC;*/
    padding-left: 0px;
    margin-left: 0px;
}

TD UL {
    margin-left: 0px;
    padding-left: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

table H2 {
    font-size: 130%;
    color: #003399;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 10px;
    */
}


/* ------------------------ text highlight and colours ------------------------ */

span.highlight {
    background-color: #FFFF00;
}

span.red {
    color: #CC0000;
    font-weight: bold;
}

.maroon {
    color: #643102;
    /* font-weight: bold; */
    padding-top: 10px;
    font-size: 100%;
}

span.blue {
    color: #0033CC;
    font-weight: bold;
    font-size: 100%;
}

.darkblue {
    color: #2B3F6F;
    /*font-weight: bold; */
    padding-top: 10px;
    font-size: 100%;
}

span.green {
    color: #006600;
    font-weight: bold;
}

.maroon {
    color: #990000;
    /* font-weight: bold; */
    padding-top: 5px;
    font-size: 90%;
}

.blue {
    color: #2B3F6F;
    /*font-weight: bold;  */
    padding-top: 5px;
    font-size: 90%;
}


/* ------------------------ input text box tags ------------------------ */

.inputline td {
    vertical-align: middle;
    height: 30px;
    padding: 0px
}

input {
    background: #e9f0f6;
    margin-left: 0PX;
}

textarea {
    border: 1px solid #888;
    margin-left: 0px;
    width: 98%;
    background: #e9f0f6;
    /* background: #FFCC99; */
    padding: 5px;
    font-size: 100%;
    height: 22px;
    font-family: Calibri, Verdana, Ariel, sans-serif;
    color: #660000;
}

.Textbox_word {
    width: 100px;
    height: 30px;
    padding: 2px;
    vertical-align: middle;
    font-size: 100%;
    /*margin-left: 20PX;    */
}

.Textbox_quarter {
    width: 200px;
    height: 12px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
}

.Textbox_half {
    width: 300px;
    margin-left: 20PX;
    padding: 3px;
}

.Textbox_1_lines {
    height: 25px;
}

.Textbox_2_lines {
    height: 60px;
}

.Textbox_4_lines {
    height: 90px;
}

.Textbox_8_lines {
    height: 120px;
}

.Textbox_16_lines {
    height: 240px;
}

table.inputtable {
    width: 90%;
}

.inputtable td+td {
    width: 25px;
    /*  background:red; */
    vertical-align: bottom;
}


/*.inputtable td + td{
      width: 25px;
    vertical-align: bottom;

}*/


/* ------------------------ activity heading table ------------------------ */

div.activity {
    /*background-color: #003399;  */
    border: 4px solid #0066CC;
    width: 600px;
    height: 30px;
    color: #0066CC;
    font-size: 125%;
    font-weight: bold;
    padding: 2px 5px 2px 10px;
    border-radius: 25px 25px 25px 25px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;
}

div.actArrow {
    float: right;
    margin-right: 5px;
    content: url(../images/circle_arrow.png);
}

div.actStatus {
    float: right;
    padding-top: 4px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: normal;
}

span.actSub {
    font-size: 90%;
    font-weight: normal;
    color: #777777
}


/* ------------------------ table with grey lines ------------------------ */

table.vmid {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.vmid td {
    border: none;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}

table.box {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
    background: #E8EFFD;
}

.box td {
    border: 1px solid #777777;
    padding: 5px 5px 5px 10px;
    text-align: center;
}


/* fiddle to make right  border of last td show inside app */

.box tr td:last-child {
    border-right: 2px solid #777777;
}


/* fiddle to make bottom border of last row show inside app */

.box tr:last-child {
    border-bottom: 2pt solid black;
}

.box th {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
}

.box td li {
    font-size: 90%;
    margin-left: 5px;
}

LI table.box {
    margin: 5px 0px 5px 0px;
}


/* ------------------------ tip text table ------------------------ */

div.tip {
    width: 80%;
    border: 4px solid #C8D9F9;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
    background-color: #FFFFFF;
    padding: 60px 20px 20px 0px;
}

.tip h2 {
    height: 33px;
    /*  background-color: #003399; */
    background-color: #C8D9F9;
    /*color: #FFFFFF;     */
    color: #003399;
    background-image: url("../images/tip.png");
    background-repeat: no-repeat;
    padding: 7px 0px 3px 50px;
    margin: -60px -20px 20px 0px;
    font-size: 130%;
    font-weight: normal;
}

.tip p {
    font-size: 90%;
}


/* ------------------------ removes margins for embedded tables ------------------------ */

table table {
    margin-left: 0px;
    margin-right: 0px;
}

td ol {
    margin-left: 0px;
    margin-right: 0px;
}

td li {
    margin-left: 0px;
    margin-right: 0px;
}


/* ------------------------ blue and yellow grammar tables ------------------------ */

table.yellow {
    border-collapse: collapse;
    background: FFFFCC;
    margin: 10px 0px 20px 60px
}

.yellow td {
    padding-bottom: 5;
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    border-top: 4 solid FFFFFF;
    vertical-align: top;
}

table.blue {
    border-collapse: collapse;
    background: #E8EFFD;
    margin: 10px 0px 20px 60px
}

.blue td {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-top: 4px solid #FFFFFF;
    vertical-align: top;
    font-weight: bold;
}

table.examples {
    border-collapse: collapse;
    background: #F4F4F4;
    margin: 15px 0px 15px 60px;
    margin-right: 20px;
}

.examples td {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-top: 4px solid #FFFFFF;
    vertical-align: top;
    /*font-weight: bold; */
}

.examples th {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: normal;
    font-style: italic;
    background: #ffffff;
    vertical-align: top;
    /*font-weight: bold; */
}

td.italic {
    font-weight: normal;
    font-style: italic;
}

td.bold {
    font-weight: bold;
}


/* ------------------------ yellow box with dashed border------------------------ */

div#yellowbox {
    border: 3px dashed #BBBBBB;
    padding: 10px;
    background: #FFFFEA;
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
    font: 100%;
    color: #666666;
    margin-bottom: 20px;
}

#yellowbox P {
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 150%;
    font-size: 100%;
}

#yellowbox H2 {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 0px;
    color: #444444;
    font-size: 130%;
}

#yellowbox H4 {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -10px;
    color: #444444;
}

#yellowbox table {
    margin: 0px;
}

#yellowbox hr {
    border-top: 3px dashed #BBBBBB;
    background-color: transparent;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*#yellowbox td{
    font-size: 15pt;


}*/

div#actButton {
    border-radius: 25px 25px 25px 25px;
    display: inline-block;
    background: #CC0066;
}


/* ------------------------ bottom navigation------------------------ */

div#pagenav {
    margin-top: 30px;
    border-top: 4px solid #C8D9F9;
    width: 90%;
    margin-left: 20px;
    padding=top: 20px;
    height: 50px;
}

#left {
    margin-top: 5px;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url("../images/prev.png");
    background-repeat: no-repeat;
}

#right {
    margin-top: 5px;
    float: right;
    width: 50px;
    height: 50px;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
}

table.pagenav {
    width: 90%;
    background: #DDDDDD;
}

td.previous:before {
    /* background-image:   url("../images/prev.png");        */
    content: url("../images/prev.png");
    ;
    height: 60px;
    vertical-align: middle;
}


/* ------------------------ tags for resource page ------------------------ */

div.res_col {
    float: left;
    width: 300px;
    /*background-color: #FF99CC; */
    padding: 10px;
}

div.res_colw {
    float: left;
    /*background-color: #FF99CC;*/
    padding: 10px;
    FONT-SIZE: 80%;
}

.res_col a,
.res_colw a {
    FONT-SIZE: 100%;
    margin-left: 10px;
    color: #003399;
    text-decoration: none;
    margin-right: 0;
    font-weight: normal;
}

.res_col ul,
.res_colw ul {
    margin-left: 0px;
    /*background-color: #CCFF00;   */
    padding-left: 0px;
}

.res_col li,
.res_colw li {
    margin-left: 25px;
    /*background-color: #FFCC00; */
    text-indent: -10px;
    FONT-SIZE: 80%;
}

.res_col h5,
.res_colw h5 {
    /*background-color: #0099FF;    */
    margin: 10px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    color: #003399;
    font-weight: bold;
    background-color: #C8D9F9;
}

LI table.examples {
    margin: 5px 0px 5px 0px
}


/*  --------------------------------------   classes for the MP3 player ---------------------------- */

.mp3tbns {
    float: left;
    margin-left: 8px;
    margin-top: 5px;
}

.mp3bar {
    width: 320px;
    height: 20px;
    border: none;
    float: left;
    margin-left: 13px;
    margin-top: 11px;
    position: relative;
    background-color: #FFFFFF;
}

.mp3slider {
    width: 0%;
    height: 100%;
    background-color: #3399FF;
    /*margin-top:12px;
	margin-left:4px;*/
    left: 0px;
    cursor: pointer;
}

.mp3tbns img {
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    background-image: url("../images/mp3_play_pause_btn.png");
}

.mp3player {
    width: 479px;
    height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    background-image: url('../images/mp3player_bg.png');
    background-repeat: no-repeat;
}

.mp3info {
    float: left;
    position: relative;
    color: red;
}

.mp3time {
    float: left;
    color: #777777;
    margin-top: 12px;
    margin-left: 12px;
    width: 80px;
    text-align: center;
    background-color: #FFFFFF;
}

#info {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    overflow: scroll;
}


/*body{
-webkit-user-select:none;
}*/


/*  classes for results table used in 'for submission' for textinput template activitirs  */

div.templateresults {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 60px;
    padding: 10px;
    background-color: #FFFFCC;
    display: none;
}

.templateresults table {
    margin-left: 0px;
}

.templateresults td {
    height: 30px;
    vertical-align: middle;
    padding-right: 10px;
}


/* ----------------------------------   usewd in the html radio button activities */

input[type="radio"] {
    /*margin-bottom: 15px;  */
    /* background-color: blue;  */
}

.radiobtn {
    position: relative;
    border: medium solid #DDDDDD;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 580px;
    height: 200px;
    padding: 10px;
    padding-left: 0px;
}

.radiobig1 {
    height: 250px;
}

.radiobig2 {
    height: 300px;
}

.radiobtn td {
    vertical-align: middle;
    font-size: 100%;
    color: #0066CC;
}

.imageButton {
    position: absolute;
    cursor: hand;
    /*border: 3px solid transparent; */
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.textBox {
    position: absolute;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    padding: 0px;
    margin-left: 20px;
    cursor: default;
}

.cluetable {
    padding-bottom: 10px;
    margin-left: 0px;
}

.cluetable td {
    color: #555555;
    font-size: 100%;
}

.checktable {
    margin-top: 20px;
}


/* ------------------------ tags for resource page ------------------------ */

div.res_col {
    float: left;
    width: 300px;
    /*background-color: #FF99CC; */
    padding: 10px;
}

div.res_colw {
    float: left;
    width: 500px;
    /*background-color: #FF99CC; */
    padding: 10px;
}

.res_col a,
.res_colw a {
    FONT-SIZE: 100%;
    margin-left: 10px;
    color: #003399;
    text-decoration: none;
    margin-right: 0;
    font-weight: normal;
}

.res_col ul,
.res_colw ul {
    margin-left: 0px;
    /*background-color: #CCFF00;   */
    padding-left: 0px;
}

.res_col li,
.res_colw li {
    margin-left: 25px;
    /*background-color: #FFCC00; */
    text-indent: -10px;
}

.res_col h5,
.res_colw h5 {
    /*background-color: #0099FF;    */
    margin: 10px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    color: #003399;
    font-weight: bold;
    background-color: #C8D9F9;
}

LI table.examples {
    margin: 5px 0px 5px 0px
}


/* ------------------------   workset submit tags for summary page   */

div.submitbox {
    border: 4px solid #0066CC;
    margin: 10px 40px 20px 40px;
    border-radius: 25px 25px 25px 25px;
    padding-bottom: 20px;
    background: #EEEEEE
}

div.submitworkset {
    height: 40px;
    background-color: #0066CC;
    padding: 5px 20px 0px 20px;
    border-radius: 25px 25px 25px 25px;
    /* display:inline-block;  */
    vertical-align: bottom;
    color: #FFFFFF;
    width: 200px;
    margin: 10px 0px 0px 40px;
    font-weight: bold;
    font-size: 140%;
    text-decoration: none;
    text-align: center;
}

a.submitlink {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 130%;
}


/* ------------------------   workset submit tags for summary page   */

div.submitbox {
    border: 4px solid #0066CC;
    margin: 10px 40px 20px 40px;
    border-radius: 25px 25px 25px 25px;
    padding-bottom: 20px;
    background: #EEEEEE
}

.submitbox li {
    font-size: 90%;
}

.submitbox ul {
    margin-bottom: 30px;
}

.submitbox a {
    margin-top: 50px;
}

div.aftersubmit {
    display: none;
}

a.submitlink {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0066CC;
    padding: 5px 30px 5px 30px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    margin: 10px 0px 10px 40px;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
}

div.submitmessage {
    /*background-color: #FFCC33; */
    margin: 40px;
    margin-top: 10px;
    color: #CC0000;
    font-weight: bold;
    background-color: #FFB9B9;
    padding: 10px;
    border: 3px dashed #CC0000;
    font-weight: normal;
    display: none;
}

.submitmessage p {
    margin-left: 0px;
    font-size: 90%;
}


/* teacher comments classes for backend */

.t_comments_h {
    background-color: #fff200;
    color: #FF0000;
}

.t_comments_hbis {
    background-color: #fff200;
    color: #FF0000;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

.t_comments_hbiu {
    background-color: #fff200;
    color: #FF0000;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.t_comments_hbi {
    background-color: #fff200;
    color: #FF0000;
    font-weight: bold;
    font-style: italic;
}

.t_comments_hb {
    background-color: #fff200;
    color: #FF0000;
    font-weight: bold;
}

.t_comments_hi {
    background-color: #fff200;
    color: #FF0000;
    font-style: italic;
}

.t_comments_hu {
    background-color: #fff200;
    color: #FF0000;
    text-decoration: underline;
}

.t_comments_hs {
    background-color: #fff200;
    color: #FF0000;
    text-decoration: line-through;
}

.t_comments_b {
    font-weight: bold;
}

.t_comments_bi {
    font-weight: bold;
    font-style: italic;
}

.t_comments_bu {
    font-weight: bold;
    text-decoration: underline;
}

.t_comments_bs {
    font-weight: bold;
    text-decoration: line-through;
}

.t_comments_biu {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.t_comments_bis {
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

.t_comments_bc {
    font-weight: bold;
    color: #FF0000;
}

.t_comments_bic {
    font-weight: bold;
    font-style: italic;
    color: #FF0000;
}

.t_comments_buc {
    font-weight: bold;
    text-decoration: underline;
    color: #FF0000;
}

.t_comments_bsc {
    font-weight: bold;
    text-decoration: line-through;
    color: #FF0000;
}

.t_comments_biuc {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #FF0000;
}

.t_comments_bisc {
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
    color: #FF0000;
}

.t_comments_i {
    font-style: italic;
}

.t_comments_iu {
    font-style: italic;
    text-decoration: underline;
}

.t_comments_is {
    font-style: italic;
    text-decoration: line-through;
}

.t_comments_ic {
    font-style: italic;
    color: #FF0000;
}

.t_comments_iuc {
    font-style: italic;
    text-decoration: underline;
    color: #FF0000;
}

.t_comments_isc {
    font-style: italic;
    text-decoration: line-through;
    color: #FF0000;
}

.t_comments_u {
    text-decoration: underline;
}

.t_comments_uc {
    text-decoration: underline;
    color: #FF0000;
}

.t_comments_s {
    text-decoration: line-through;
}

.t_comments_sc {
    text-decoration: line-through;
    color: #FF0000;
}

.t_comments_c {
    color: #FF0000;
}


/*  -------------------------------------- accented letters ------------ */

ul.keys {
    margin: 0px;
    padding: 0px;
}

.keys li {
    height: 20px;
    width: 10px;
    border: thin solid #777777;
    border-radius: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFFFFF;
    ;
}

#keyboard {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    /* or hidden */
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 6px;
    */ background-color: #EEEEEE;
    background-color: rgba(0, 0, 0, .1);
    display: none;
}


/* WORKSET phone call data  */

table.wsphonedata {
    background: #FFCCCC;
    /*width: 90%;*/
    margin-bottom: 10px;
    display: none;
}

.wsphonedata td {
    padding: 5px;
    font-size: 90%;
    font-weight: bold;
    background-color: #FFFFFF;
    text-align: right;
    vertical-align: top;
}

.wsphonedata td:nth-child(even) {
    font-weight: normal;
    background: #FFCCCC;
    text-align: left;
    padding-right: 30px;
}


/*  classes for links to corrected work for submission files on intoduction page */

a.viewcorrecteduploadlink {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #339933;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    width: 150px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
    display: none;
}

a.multiactviewcorrecteduploadlink {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #339933;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    width: 150px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}

.multiActView_corrected_upload {
    display: none;
    margin: 20px 40px 20px 40px;
}

.multiActView_corrected_mailed {
    display: none;
    margin: 20px 40px 20px 40px;
    padding: 5px 20px 5px 20px;
    background-color: #FFD6D6;
}

.multiAct_mailed_complete {
    display: none;
}

div.uploadmessage {
    /*background-color: #FFCC33; */
    display: none;
    margin: 20px 20px 20px 40px;
    color: #CC0000;
    font-weight: normal;
}

table.downloadsTable {
    margin-left: 0px;
}

.downloadsTable td a.downloadlink {
    margin-left: 0px;
}

.downloadsTable td:nth-child(2) p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 80%;
}

.tracks td {
    vertical-align: middle;
}

div.bluebox {
    border: 2px solid #BBBBBB;
    padding: 10px;
    background: #D3F4F8;
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
    color: #000000;
    margin-bottom: 20px;
}


/* ------------------------------- used on 'moodle' intro pages */

div.options {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 4px solid #C8D9F9;
}

.ipad {
    display: none;
}

.pcmac {
    display: block;
}

a.WFSlink {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0066CC;
    height: 25px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px 25px 25px 25px;
    color: #FFFFFF;
    margin: 10px 0px 10px 10px;
    font-size: 100%;
    background-image: url(../images/download_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 80%;
}

a.pdflink {
    background-color: #990000
}

table.intro {
    width: 95%;
}

.intro td {
    width: 50%;
}

.options ul,
.options ul {
    margin-left: 30px;
    font-size: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.options p {
    font-size: 80%;
    margin: 0px 10px 5px 20px;
}

.options h4 {
    color: #0066CC;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    font-size: 100%;
    font-weight: 400;
    line-height: 100%;
    overflow: hidden;
}

p.or {
    background-color: #C8D9F9;
    color: #0066CC;
    padding: 3px 10px 3px 10px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-size: 100%;
}

p.or2 {
    text-align: left;
}

.ipad {
    display: none;
}

.pcmac {
    display: block;
}

li.ipad {
    display: none;
}

li.pcmac {
    display: list-item;
}


/* used on phone lesson screen */

table.phone {
    width: 950px;
    margin-left: 10px;
}

.phone th {
    font-size: 90%;
    font-weight: normal;
    border-bottom: thin dashed #888888;
    color: #666666;
    text-align: left;
    padding: 5px 5px 3px 5px
}

.phone td {
    padding: 2px 5px 3px 5px;
    border-bottom: thin dashed #888888;
    font-size: 90%;
    vertical-align: top;
}

.phone td:nth-child(1) {
    width: 25px;
    padding: 0px;
}

.phone td:nth-child(2),
.phone td:nth-child(3),
.phone td:nth-child(4) {
    color: #0066CC;
}

.phone td:nth-child(2) {
    width: 15px;
}

.phone td:nth-child(3) {
    width: 110px;
}

.phone td:nth-child(4),
.phone td:nth-child(5),
.phone td:nth-child(6) {
    width: 70px;
}

.phone td p {
    margin-top: 0px;
    margin-bottom: 0px;
}