                body {
                    background: #f5f5f5 !important;
                    margin: 0 !important;
                }
                
                .u {
                    text-decoration: underline !important;
                }
                
                #paths {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                }
                
                #selectOptions {
                    width: auto;
                }
                
                #spin,
                #status {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 600;
                }
                
                .fileError {
                    text-align: center !important;
                    color: #ccc !important;
                    font-size: 30px !important;
                    font-weight: 600 !important;
                }
                
                #selectFile {
                    width: 100%;
                    height: 60px;
                    background: #fff;
                    border: 2px dashed darkcyan;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    overflow: auto;
                    margin-top: 14px;
                }
                
                #fileDisplayName,
                #fileExtName {
                    font-size: 18px;
                    color: black;
                    font-weight: 600;
                    min-height: 50px;
                    overflow: auto;
                }
                
                .customLabel {
                    font-size: 16px;
                    font-weight: 700;
                    color: teal;
                }
                
                .toggle-handle {
                    background: whitesmoke !important;
                }
                
                .ql-formats .ql-active {
                    background: lightsteelblue !important;
                    color: #fff !important;
                    margin: 2px !important;
                    border-radius: 5px;
                }
                
                #link {
                    padding: 10px 5px;
                    background: #fff;
                    border: 3px solid #ccc;
                    border-radius: 5px;
                    height: 500px;
                    overflow-x: auto;
                    overflow-y: auto;
                    width: 100%;
                }
                
                #alertFile,
                #newsFile {
                    padding: 10px 5px;
                    background: #fff;
                    border: 3px solid #ccc;
                    border-top: none;
                    height: 455px;
                    overflow-x: auto;
                    overflow-y: auto;
                    width: 100%;
                }
                /*drop down css*/
                
                .dropdown2 {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    border-radius: 9px;
                    display: none;
                    position: absolute;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    right: 3px;
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 4px;
                    text-decoration: none;
                    display: block;
                    font-size: 16px;
                    background: lightcyan;
                    text-align: center;
                }
                
                .dropdown-content a:hover {
                    background: #007bff;
                    padding: 8px;
                    color: snow;
                    font-weight: bold;
                }
                
                .dropdown2:hover .dropdown-content {
                    display: block;
                }
                /*drop down css*/
                
                #selectedFileName {
                    font-size: 16px;
                    font-family: Verdana;
                    font-weight: 600;
                }
                
                #heading {
                    font-size: 16px;
                    color: black;
                    font-weight: bold;
                }
                
                #paste {
                    display: none;
                    position: absolute;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
                    background: #d1c1c0 !important;
                    font-weight: 700 !important;
                    list-style-type: none;
                    padding: 0;
                    border-radius: 5px;
                    z-index: 100;
                }
                
                #tasks {
                    min-width: 200px;
                    max-width: 200px;
                    position: absolute;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
                    background: #f1f1f1;
                    list-style-type: none;
                    padding: 0;
                    border-radius: 10px;
                    z-index: 100;
                }
                
                #tasks li {
                    background: #ffe6e6;
                    font-weight: 700;
                }
                
                #selectTask {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                }
                
                #tasks li:hover,
                #paste li:hover {
                    background: blueviolet;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 500;
                }
                
                #tasks li {
                    display: flex;
                    align-items: center;
                    padding: 3px;
                }
                
                .right-side {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                /*===========Additional css for resources page===============*/
                
                .res_col ul li a:hover {
                    font-weight: 600 !important;
                }
                
                div#main {
                    width: 100%;
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                    /*  border-left: 3px solid #C8D9F9       */
                }
                /* ------------------------ standard  tags ------------------------ */
                
                H1 {
                    font-size: 240%;
                    color: #003399;
                    color: #0066CC;
                    font-weight: normal;
                    margin: 0px 0px 10px 0px;
                    background-color: #C8D9F9;
                    padding-bottom: 1px;
                    padding-left: 20px;
                    padding-right: 5px;
                    padding-top: 1px;
                }
                
                H2 {
                    font-size: 145%;
                    font-weight: normal;
                    color: #003399;
                    color: #0066CC;
                    margin: 0px 0px 10px 0px;
                    padding-bottom: 0px;
                    padding-left: 20px;
                    padding-right: 5px;
                    padding-top: 10px;
                }
                
                H3 {
                    font-size: 130%;
                    color: #003399;
                    color: #0066CC;
                    font-weight: bold;
                    margin: 0px 0px 10px 20px;
                    padding-bottom: 0px;
                    padding-left: 20px;
                    padding-right: 5px;
                    padding-top: 10px;
                    font-weight: normal;
                }
                
                H4 {
                    font-size: 100%;
                    color: #444444;
                    font-weight: bold;
                    margin: 0px 0px 0px 20px;
                    padding-bottom: 0px;
                    padding-left: 20px;
                    padding-right: 5px;
                    padding-top: 10px;
                }
                /* ------------------------ tags for resource page ------------------------ */
                
                div.res_col {
                    float: left;
                    width: 300px;
                    padding: 10px;
                }
                
                div.res_colw {
                    float: left;
                    width: 500px;
                    padding: 10px;
                }
                
                .res_col a,
                .res_colw a {
                    margin-left: 10px;
                    color: #003399;
                    text-decoration: none;
                    margin-right: 0;
                    font-weight: normal;
                    FONT-SIZE: 100%;
                }
                
                .res_col ul,
                .res_colw ul {
                    margin: 0px;
                    padding: 0px;
                }
                
                .res_col li,
                .res_colw li {
                    FONT-SIZE: 80%;
                    margin-left: 20px;
                    padding-left: 0px;
                }
                
                .res_col h5,
                .res_colw h5 {
                    margin: 10px 5px 5px 0px;
                    padding: 5px 5px 5px 5px;
                    color: #003399;
                    font-weight: 500;
                    background-color: #C8D9F9;
                    font-size: 20px;
                }
                
                .res_col p,
                .res_colw p {
                    margin-left: 0px;
                    font-size: 80%;
                }
                
                .res_col h4,
                .res_colw h4 {
                    margin: 0px 5px 5px 0px;
                    color: #000000;
                    font-weight: normal;
                    padding: 0px;
                }
                
                LI table.examples {
                    margin: 0px
                }